h1{width: 190px;
    height: 50px;
    background-color: #ca8723;
    text-shadow: 0px 0px 25px rgba(243, 208, 10, 0.87);
    box-shadow: 11px 10px 7px 0px rgba(18,3,3,0.79);
    -webkit-box-shadow: 11px 10px 7px 0px rgba(18,3,3,0.79);
    -moz-box-shadow: 11px 10px 7px 0px rgba(18,3,3,0.79);}
    body{background: url(fondo.jpg);}
    p{font-weight: bold;  }
    ol{font-weight: bold; }
    ul{font-weight: bold; }
   
h2{ color: black;
        font-family: Arial;
        text-shadow: 0px 0px 25px rgba(243,208,10,0.87);
        background-color: #ca8723;
    position:absolute}

img{border-radius: 104px 103px 103px 103px;
            -webkit-border-radius: 104px 103px 103px 103px;
            -moz-border-radius: 104px 103px 103px 103px;
            border: 9px double #ca8723;
            background-color: #ca8723;}

